<footer class="footer">
  <div class="container">
    <hr>
    <p class="subject-left">The Ruby on Rails Tutorial by Michael Hartl</p>
    <p class="subject-right">About　Contact　News</p>
  </div>
</footer>